body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: green;
    color: white;
    padding: 15px 0;
}
title {
    color: green;
}
.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

#home {
    color: green;
    text-align: center;
    font-size: 150%;
}

.event {
    margin-bottom: 20px;
}

.event h3 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: green;
}

#event-details {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 330px;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: green;
}

.success-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    display: none;
}

#success:target {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}
